# VS Code settings: ignore everything under .vscode except selected configs
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

node_modules/
.env
data/
build/
*.log
include/nlohmann/
src/cpp-httplib/
.devcontainer/
build/
.cleanup_quarantine/
ssl/
contracts/artifacts/
contracts/cache/
# DB stack secrets
db/.env
db/data/
# SQLite local files
*.sqlite
*.sqlite3
data/sqlite/
