[Unit]
Description=SpiralCoin Daemon
After=network.target

[Service]
ExecStart=/root/spiralcoin/build/spiralcoind
Restart=always
User=root
WorkingDirectory=/root/spiralcoin/data

[Install]
WantedBy=multi-user.target
